*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.to-do-list{
    position: relative;

    margin: auto;
    max-width: 510px;

    /* border: solid 1px; */
}

/* BOTOES DE CONFIGURAÇAO------------------------ */

#config-container{
    margin: auto;
    margin-top: 15px;
    text-align: left;
    max-width: 90%;
}

.mode {
    background-color: transparent;
    border: dashed 1px;
    border-radius: 10px;

    width: 30px;
    height: 30px;

    padding-right: 35px;
    padding-bottom: 33px;

    align-items: center;
    font-size: 16pt;
    margin-left: 4px;
    margin-right: 4px;
}


/* INICIO INPUIT-CONTAINER-------------------------------- */

.input-container{
    margin: auto;
    text-align: center;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 15px;

    max-width: 90%;
    min-height:50px ;

    border: solid 1px;
    border-radius: 5px;
}
#task-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 490px;
    margin-left: 5px;
    margin-right: 5px;
}
.task-text{
    background-color: transparent;
    border: none;
    outline: none;
    width: 90%;
    height: 30px;
    font: normal 14pt arial;
    text-align: left;
}

#add-task {
    background-color: transparent;
    border: none;
    margin-bottom: 11px;
    font-size: 20pt;
    width: 50px;
    height: 30px;
    text-align: center;
}

/* INICIO TASK-CONTAINER-------------------------------- */

.task-container{
    position: relative;
    margin: auto;
    text-align: center;
    
    margin-top: 15px;

    max-width: 500px;
    /* min-height:50px ; */

    /* border: solid 1px; */

    font: normal 14pt arial;
}

.task{
    background-color: #bab9b9;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    height: 90px;

    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;

    border: none;
    box-shadow: 0.5px 0.5px 5px rgb(112, 111, 111);
    border-radius: 4px;

    transition: all 0.3s ease-in-out;
    animation: newTaskAnim 1s;
}

.task > span{
    width: 90%;
    margin-left: 3px;
}

.task:hover{
    background-color: #ffffff;
    width: 95%;
    height: 100px;

    transition: all 0.5s ease-in-out;
}

.edit {
    background-color: transparent;
    border: none;
    font-size: 15pt;
}

.delete{
    background-color: transparent;
    border: none;
    font-size: 15pt;
}

.done {
    background-color: transparent;
    border: none;
    font-size: 15pt;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 2.5px;
}

.button-group button {
    margin-left: 5px;
}
/* INICIO DIV TEMPORARIA DO BOTAO DE EDICAO---------------------------- */
.tempDiv {
    position: absolute;

    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    
    border: 2px solid black;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 6px 10px; */

    width: 90%;
    min-height: 60px;
}

.temp-input{
    background-color: transparent;

    border: none;
    outline: none;

    width: 90%;
    height: 30px;

    font: normal 14pt arial;
    text-align: center;

    padding-top: 10px;
}

.temp-form{
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.temp-button{
    background-color: transparent;
    border: none;
    font-size: 20pt;
    padding-top: 5px;
    width: 50px;
}

#overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #ffffff4d; /* semi-transparente */
    backdrop-filter: blur(1px); /* efeito blur */
    z-index: 999; /* acima do conteúdo normal */
    display: none; /* começa escondido */
}

/* FOOTER ---------------------------------------- */

footer {
    position: fixed;
    bottom: 0;
    background-color: #dededd;
    
    width: 100%;
    height: 70px;

    text-align: center;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}



.socialmedia{
    width: 50px;
    height: 32px;

    text-align: center;
    display: inline-flex;
    align-items: center;
    
}

.socialmedia a {
    text-decoration: none;
    color: #1b1b1b;
}

footer a img {
    max-width: 32px;
    height: auto;
    object-fit: contain;
}
.icon{
    max-width: 32px;
    height: auto;
    object-fit: contain;
}

footer p {
    font: bold 8pt Arial;
}


/* ANIMACOES-------------------------------- */

@keyframes newTaskAnim {
    from{
        width: 50%;
        height: 80px;
    }
    to{

    }
}